html
  head
    title= 'Introducing Loopin'
    link(href='/bower/highlightjs/styles/ocean.css', rel='stylesheet')
    link(href='/css/page.css', rel='stylesheet')
    script(src='/bower/jquery/dist/jquery.js')
    script(src='/bower/highlightjs/highlight.pack.js')
    script(src='/bower/masonry/dist/masonry.pkgd.js')

    script(src='/bower/js-yaml/dist/js-yaml.js')


  body
    div(id='slides')
      each content, id in sections
        section(id=id)!= content
    div(id='read-wrapper')
    script(src='/js/presentation.js')
