html
  head
    title= 'Introducing Loopin'
    link(href='/css/page.css', rel='stylesheet')
    script(src='/bower/jquery/dist/jquery.js')
    script(src='/bower/js-yaml/dist/js-yaml.js')


  body
    div(id='slides')
      each content, id in sections
        section(id=id)!= content
    script(src='/js/presentation.js')
