html
  head
    title= 'Introducing Loopin'
    link(href='/css/page.css', rel='stylesheet')
    script(src='/js/presentation.js')
  body
    div(class='content')
    each content, id in sections
      section(id=id)!= content
